* {
    margin: 0 auto;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* Common Style */
.container {
    max-width: 1320px;
    margin: 0 auto;
}

.btn-main {
    background: #1D4ED8;
    color: white;
    border: none;
    padding: 18px 55px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.btn-main:hover {
    background: #143fb7;
}

/* Navbar Style */
.navbar-child {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px 0;
}

.nav-items {
    display: flex;
    gap: 26px;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    font-size: 16px;
    color: #575757;
    font-weight: 400;
}

/* Hero section style */

.hero-section {
    height: 100vh;

    background:
        linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)),
        url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero-content {
    max-width: 950px;
}

.hero-content h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 25px;
}

.hero-content span {
    font-style: italic;
}

.hero-content p {
    color: #ddd;
    font-size: 24px;
    line-height: 24px;
    max-width: 780px;
    margin: 0 auto 60px;
    letter-spacing: 0px;
    padding-bottom: 100px;
}