* {
    margin: 0 auto;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* Common Style */
.container {
    max-width: 1320px;
    margin: 0 auto;
}

.btn-main {
    background: #1D4ED8;
    color: white;
    border: none;
    padding: 18px 55px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    width: 230px;
    height: 56px;
}

.btn-main:hover {
    background: #143fb7;
}

/* Navbar Style */
.navbar-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-items {
    display: flex;
    gap: 26px;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    font-size: 16px;
    color: #575757;
    font-weight: 400;
}

/* Hero section style */

.hero-section {
    height: 100vh;

    background:
        linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)),
        url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero-content {
    max-width: 950px;
}

.hero-content h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 25px;
}

.hero-content span {
    font-style: italic;
}

.hero-content p {
    color: #ddd;
    font-size: 21px;
    line-height: 24px;
    max-width: 780px;
    margin: 0 auto 60px;
    letter-spacing: 0px;
    padding-bottom: 100px;
}

/* Meet the Speakers Style */
.speaker-section {
    background: #fff;
    padding: 100px 0;
    margin-bottom: 50px;
}

.speaker-heading h2 {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 0px;
    color: #000102;
}

.speaker-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.speaker-card {
    width: 645px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    border: 0.5px solid #E5E7EB;
}

.speaker-card img {
    width: 100%;
    height: 324px;
    object-fit: cover;
    display: block;
}

.speaker-category {
    color: #2563EB;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 28px 24px 10px;
}

.speaker-card h2 {
    font-size: 34px;
    font-weight: 700;
    color: #111;
    margin: 0 24px 10px;
}

.speaker-designation {
    font-size: 18px;
    color: #777;
    margin: 0 24px 30px;
}

/* Price Section Style */
.price-section {
    margin-bottom: 80px;
}

.price-desc {
    text-align: center;
    margin-bottom: 48px;
    font-size: 16px;
    font-weight: 400;
}

.price-desc p {
    font-size: 16px;
    font-weight: 400;
    color: #575757;
}

.price-desc h2 {
    color: #0D1B2A;
    font-size: 48px;
    font-weight: bold;
    line-height: 80px;
}

.price-card h3 {
    font-size: 13px;
    color: #888888;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.price-card h2 {
    font-size: 44px;
    font-weight: bold;
    color: #0D1B2A;
}

.price-card p {
    font-size: 13px;
    font-weight: 400;
    color: #888888;
}

hr {
    border: none;
    height: 1px;
    background-color: #E5E7EB;
    margin: 20px 0;
}

.pro-hr {
    background-color: #E5E7EB10;
}

.ticket-features li::marker {
    color: #60A5FA;
}

.price-card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.price-card {
    max-width: 370px;
    width: 100%;
    border: 1px solid #E5E7EB;
    padding: 32px;
    border-radius: 12px;
}

.price-card ul li {
    line-height: 40px;
    margin-left: 15px;
}

ul.ticket-features {
    margin-bottom: 20px;
}

.pro-card {
    background-color: #0D1B2A;
}

.pro-card h3 {
    color: #93C5FD;
}

.pro-card h2 {
    color: white;
}

.pro-card ul li {
    color: #fff;
}

.price-btn {
    width: 304px;
    height: 43px;
    border: 1px solid #0D1B2A;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.pro-btn {
    background: #2563EB;
    color: white;
}